{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block meta_tags %}
  <title> {{ post.title }} | Tecoshop.es </title>
  <meta charset="utf-8" />
  <meta name="description"content="{{ post.summary}}"/>
  <meta name="keywords" content="kalit so'zlar, yangiliklar, xabarlar" />
  <meta property="og:title" content="{{ post.title }}">
  <meta property="og:description" content="{{ post.summary }}">
  <meta property="og:image" content="{{ post.image.url }}">
  <meta property="og:type" content="article">

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ post.title }}">
  <meta name="twitter:description" content="{{ post.summary }}">
  <meta name="twitter:image" content="{{ post.image.url }}">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Article",
        "headline": "{{ post.title|escapejs }}",
        "description": "{{ post.summary|truncatewords:20|escapejs }}",
        "image": "{{ post.image.url }}",
        "author": {
          "@type": "Person",
          "name": "{{ post.author.get_full_name }}"
        },
        "publisher": {
          "@type": "Organization",
          "name": "Tecoshop.es",
          "logo": {
            "@type": "ImageObject",
            "url": "{{ site_logo_url }}"
          }
        },
        "datePublished": "{{ post.created_at|date:'Y-m-d' }}",
        "dateModified": "{{ post.updated_at|date:'Y-m-d' }}"
      }
  </script>
{% endblock meta_tags %}

{% block content %}


  <div class="px-4 md:p-10 rounded-sm md:bg-white  mx-auto max-w-screen-md md:shadow-md" id="blog_detail">
      <!-- disable auto row -->
      <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-500 mb-6">
          <!--show tags here-->
          {% for tag in post.tag.all %}
              {% if tag.name != 'homepage' %}
                  <a href="{% url "blog_homeview" %}?s_tag={{tag.name}}" class="tag">#{{ tag.name }}</a>
              {% endif %}
          {% endfor %}
      </h6>

      <div class="flex items-start justify-center flex-col">
          <h2 class="block antialiased tracking-normal font-sans text-2xl md:text-4xl font-semibold leading-[1.3] text-blue-gray-900  mb-6 pl-2  border-l-4 border-l-[var(--color-primary)]">
              {{ post.title }}
          </h2>
                    <!-- article details -->
                    <div class="flex items-center text-sm text-blue-gray-900 text-gray-400 font-normal mb-6">
                      <p class="">{{ post.author.first_name }}</p>
                      <span>/</span> 
                      <p class="">{{ post.updated_on|date:"F j, Y" }}</p>
                  </div>

          <img alt="post" loading="lazy" width="768" height="500" decoding="async" data-nimg="1" class="mb-4 h-[28rem] w-full rounded-xl object-cover" src="{{post.image.url}}" style="color: transparent;">

          <div class="post-content">
            {{ post.content|safe }}
          </div>
      </div>
  </div>

  <div class="mt-10 px-4 md:p-10 rounded-sm md:bg-white  mx-auto max-w-screen-md md:shadow-md">
    <div class="text-xl font-bold mb-10">
      {% trans "Must read" %}
    </div>

    <div class="grid gid-cols-1 md:grid-cols-2 gap-4">
      {% for post in homepage_posts %}
          <!-- card  -->
           {% comment %} transform transition duration-500 hover:scale-105 {% endcomment %}
          <div class="relative">
  
              <div class="p-2 flex justify-center">
                  <a href="/{{LANGUAGE_CODE}}/blog/{{post.slug}}/">
                      <img class="rounded-md object-cover"
                      src="{{post.image.url}}"
                      loading="lazy">
                  </a>
              </div>
  
              <div class="px-4 mb-[10px] mt-[20px]">
                  <!-- tags here -->
                  <div class="tags text-sm pb-3">
                      {% for tag in post.tag.all %}
                      {% if tag.name != 'homepage' %}
                          <a class="text-blue-500 mb-8">
                              #{{tag.name}}
                          </a>
                      {% endif %}
                  {% endfor %}
                  </div>
                  <div>
                      <a href="/{{LANGUAGE_CODE}}/blog/{{post.slug}}/" >
                          <h5
                              class="text-xl font-semibold tracking-tight hover:text-[var(--color-primary)] text-gray-900 mb-[10px]">
                              {{post.title}}
                          </h5>
                      </a>
  
                      <div class="antialiased flex flex-col text-sm text-blue-gray-900 text-gray-400 font-normal">
                          {% comment %} <p class="mr-2">{{post.author}}</p>   {% endcomment %}
                          <p class="">{{ post.updated_on|date:"F j, Y" }}</p>
                      </div>
                  </div>
  
              </div>
  
          </div>
      {% endfor %}
    </div>


  </div>

  <div class="mt-10 px-4 md:p-10 rounded-sm md:bg-white  mx-auto max-w-screen-md md:shadow-md">
    <h2 class="text-xl font-bold text-gray-800 mb-4">{% trans "Our Locations" %}</h2>
    <div class="grid gid-cols-1 md:grid-cols-3 gap-4">
        {% for b in branches %}
            <!-- card  -->
             {% comment %} transform transition duration-500 hover:scale-105 {% endcomment %}
            <div class="relative  overflow-hidden">
                <div class="p-2 flex justify-center">
                    <img class="rounded-md object-cover w-full h-42"
                         src="{{ b.image.url }}"
                         alt="Imagen de {{ b.name }}"
                         loading="lazy">
                </div>
                <div class="px-4 py-4">
                    <h5 class="text-xl font-semibold text-gray-900 mb-2">{{ b.name }}</h5>
                    <p class="text-xs text-slate-600 flex gap-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" color="#000000" fill="none">
                            <path d="M13.6177 21.367C13.1841 21.773 12.6044 22 12.0011 22C11.3978 22 10.8182 21.773 10.3845 21.367C6.41302 17.626 1.09076 13.4469 3.68627 7.37966C5.08963 4.09916 8.45834 2 12.0011 2C15.5439 2 18.9126 4.09916 20.316 7.37966C22.9082 13.4393 17.599 17.6389 13.6177 21.367Z" stroke="currentColor" stroke-width="1.5" />
                            <path d="M15.5 11C15.5 12.933 13.933 14.5 12 14.5C10.067 14.5 8.5 12.933 8.5 11C8.5 9.067 10.067 7.5 12 7.5C13.933 7.5 15.5 9.067 15.5 11Z" stroke="currentColor" stroke-width="1.5" />
                        </svg>
                        {{ b.address }}
                    </p>
                    <a href="{% url 'branch_view' b.city %}" class="text-blue-500 hover:underline text-sm">
                        {% trans "See more" %}
                    </a>
                </div>
            </div>
        {% endfor %}
      </div>
</div>


{% endblock content %}