{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
<title>Blog de TECO SHOP</title>
{% endblock title %}
{% block content %}


<div class="container mx-auto">

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4 md:p-2 xl:p-5 bg-white rounded-sm shadow-md">
        {% for post in object_list %}
        <!-- card  -->
        <div class="rounded-lg ">
            <div class="p-2 flex justify-center">
                <a href="/{{LANGUAGE_CODE}}/blog/{{post.slug}}/">
                    <img class="rounded-md object-cover w-full h-60"
                    src="{{post.image.url}}"
                    loading="lazy">
                </a>
            </div>

            <div class="px-4 mb-[10px] mt-[20px]">
                <!-- tags here -->
                <div class="tags text-sm pb-3">
                    {% for tag in post.tag.all %}
                    {% if tag.name != 'homepage' %}
                        <a class="text-blue-500 mb-8">
                            #{{tag.name}}
                        </a>
                    {% endif %}
                    {% endfor %}
                </div>
                <div>
                    <a href="/{{LANGUAGE_CODE}}/blog/{{post.slug}}/" >
                        <h5
                            class="text-xl font-semibold tracking-tight hover:text-[var(--color-primary)] text-gray-900 mb-[10px]">
                            {{post.title}}
                        </h5>
                    </a>

                    <div class="antialiased flex flex-col text-sm text-blue-gray-900 text-gray-400 font-normal">
                        {% comment %} <p class="mr-2">{{post.author}}</p>   {% endcomment %}
                        <p class="">{{ post.updated_on|date:"F j, Y" }}</p>
                    </div>
                </div>

            </div>

        </div>  
        {% endfor %}
    </div>

</div>
    

{% endblock content %}