{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Navigation Links (Visible only on Medium and larger screens) -->
<div class="hidden md:flex md:items-center md:justify-center md:gap-5">
    <a class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-gray-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
        href="/{{LANGUAGE_CODE}}/#services">
        {% trans "Services" %}
        
    </a>
    <a class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-gray-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
        href="/{{LANGUAGE_CODE}}/#locations">
        {% trans "Locations" %}
    </a>
    <a class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-gray-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
        href="/{{LANGUAGE_CODE}}/#reviews">
        {% trans "Reviews" %}
    </a>
    <a class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-gray-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
        href="{% url 'blog_homeview' %}">
        {% trans "Blog" %}
    </a>
    <a class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-gray-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"    
        href="{% url 'new' %}">
        {% trans "Book Appointment" %}
    </a>

    <a class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-gray-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
        href="{% url 'admin_login' %}">
        {% trans "Admin" %}
    </a>
</div>